<%= render 'welcome/navigation'%>
<h1>WELCOME TO FINANCE TRACKER SOCIAL APP </h1>
<%=render  'layouts/messages'%>
<%# <% if user_signed_in? %>
    <%# <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
<%# <% end %> 